[submodule "third_party/Matcha-TTS"]
	path = third_party/Matcha-TTS
	url = https://github.com/shivammehta25/Matcha-TTS.git

[submodule "async_cosyvoice"]
	path = async_cosyvoice
	url = https://github.com/qi-hua/async_cosyvoice.git
